@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/user-interface";
@import "compass/css3/appearance";

/*  Layout
-------------------------------------------------------------- */
* {
  @include box-sizing(border-box);
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 2em 0;
  width: 90%;
}

body {
  background: #fff;
  font-family: "proxima-nova",sans-serif;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.5em;
}

header {
  background: #eceef1;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  padding: 0.5em 0;
  .container {
    padding: 0;
  }
}

.nav a {
  display: block;
}

.row {
  clear: left;
}

.column {
  float: left;
  margin: 0 0 0 6%;
  width: 100%;
  &:first-child {
    margin: 0;
  }
  &.two-thirds {
    width: 64.7%;
    margin: 0 6% 0 0;
  }
  &.half {
    width: 48%;
  }
  &.third {
    width: 29.3%;
  }
  &.fourth {
    width: 22%;
  }
  &.flow-opposite {
    float: right;
    margin: 0;
  }
}

/*  #Typography
-------------------------------------------------------------- */
h1, h2, h3, h4 {
  margin: 0;
}

h3 {
  font-size: 2em;
  font-weight: 300;
  line-height: 1em;
  margin-bottom: 0;
}

h4 {
 color: #999;
 font-weight: 400;
 margin-bottom: 1em;
}

p {
  color: #333;
  margin: 0 0 1em 0;
}

/*  Links
-------------------------------------------------------------- */
a {
  color: #26ae90;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/* Images & Lazy Load
--------------------------------------------------*/
img,
.lazy {
  @include border-radius(4px);
  height: auto;
  width: 100%;
  margin-bottom: 1em;
}

.fixed {
  position: fixed;
  top: 25px;
  width: 322px;
}

/* Buttons
--------------------------------------------------*/
.button {
  @include appearance(none);
  background: #eceef1;
  border: none;
  @include border-radius(4px);
  @include box-sizing(border-box);
  color: #999;
  cursor: pointer;
  display: block;
  font: inherit;
  line-height: normal;
  margin: 0;
  padding: 0.8em 1em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  @include user-select(none);
  vertical-align: middle;
  white-space: nowrap;
}

.button:hover,
.button:focus,
.button:active {
  text-decoration: none;
}

.button:disabled,
.button.is-disabled {
  cursor: default;
}

.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Clearfix
--------------------------------------------------*/
.container:before,
.container:after,
.row:before,
.row:after,
.sidebar:before,
.sidebar:after {
  content: " ";
  display: table;
}

.container:after,
.row:after,
.sidebar:after {
  clear: both;
}

.container,
.row,
.sidebar {
  *zoom: 1;
}

/* Media Queries (Desktop)
--------------------------------------------------*/
@media screen and (max-width: 1110px) {
  .column {
    &.two-thirds,
    &.half,
    &.third,
    &.fourth {
      margin: 0;
      width: 100%;
    }
    &.flow-opposite {
      float: none;
    }
  }

  .sidebar {
    border-bottom: 1px solid #eceef1;
    margin-bottom: 2em;
    padding-bottom: 2em;
  }

  .fixed {
    position: relative;
    top: 0;
    width: 100%;
  }
}

/* Media Queries (Mobile)
--------------------------------------------------*/
@media screen and (max-width: 640px) {
}
