---
title: Case Studies | Aegis Communications
---
<div class="container sidebar-container">
  <div class="column sidebar-third flow-opposite">
    <div class="sidebar">
      <div class="work-navigation">
        <ul class="no-grid">
          <li>
            <a href="/case-studies/groupon.html">
              <span class="icon arrow-left"></span>
            </a>
          </li>
          <li>
            <a href="/case-studies/fidelity-life.html">
              <span class="icon arrow-right"></span>
            </a>
          </li>
          <li>
            <a href="/case-studies">
              <span class="icon grid"></span>
            </a>
          </li>
        </ul>
      </div>

      <h3>Aegis<br />Communications</h3>
      <h4>Consulting</h4>
      <%= link_to "aegiscomm.com", "http://www.aegiscomm.com/", :target => "_blank", :class => "website" %>
    </div>
  </div>

  <div class="column two-thirds">
    <%= image_tag "placeholder-small.jpg", "data-original" => "/images/aegis-communications-logo.jpg", :class => "lazy" %>
    <noscript><%= image_tag "aegis-communications-logo.jpg" %></noscript>

    <div class="article">
      <h3>Aegis publishes trade journals for the dental industry.</h3>

      <p>Due to their numerous publications, they had data spread across several systems.</p>

      <p>Before they came to us, Aegis had to submit costly queries through a third party in order to access their own data.</p>

      <p>To alleviate the costs associated with paying to access their own information, Aegis hired us to build a Rails application
      that centralized their scattered resources.</p>

      <p>Working with their existing vendors, we normalized their data, imported it onto their own servers and granted them access
      to all of their internal data.</p>
    </div>
  </div>
</div>
