---
title: Case Studies | Fidelity Life
---
<div class="container sidebar-container">
  <div class="column sidebar-third flow-opposite">
    <div class="sidebar">
      <div class="work-navigation">
        <ul class="no-grid">
          <li>
            <a href="/case-studies/aegis-communications.html">
              <span class="icon arrow-left"></span>
            </a>
          </li>
          <li>
            <a href="/case-studies/fidelity-life.html">
              <span class="icon arrow-right"></span>
            </a>
          </li>
          <li>
            <a href="/case-studies">
              <span class="icon grid"></span>
            </a>
          </li>
        </ul>
      </div>

      <h3>Fidelity Life</h3>
      <h4>Consulting</h4>
      <%= link_to "fidelitylife.com", "http://www.fidelitylife.com/", :target => "_blank", :class => "website" %>
    </div>
  </div>

  <div class="column two-thirds">
    <%= image_tag "placeholder-small.jpg", "data-original" => "/images/fidelity-life-logo.jpg", :class => "lazy" %>
    <noscript><%= image_tag "fidelity-life-logo.jpg" %></noscript>

    <div class="article">
      <h3 class="case-study-title">Fidelity Life commissioned us to build a web app to allow customers to obtain life insurance without tests or processing delays.</h3>

      <p>Because of the complexity of the project, we used many different tools including: Ruby, JRuby, Java, Rails, Apache, and Postgres.</p>

      <p>We built an entire suite of software systems that streamlined Fidelity’s internal processes, simplifying communication and enabling collaboration.</p>

      <p>Now with hundreds of users, the application processes tens of thousands of requests per day and has exponentially increased Fidelity’s sales figures.</p>
    </div>
  </div>
</div>
