---
title: Case Studies | Groupon
---
<div class="container sidebar-container">
  <div class="column sidebar-third flow-opposite">
    <div class="sidebar">
      <div class="work-navigation">
        <ul class="no-grid">
          <li>
            <a href="/case-studies/ncsa.html">
              <span class="icon arrow-left"></span>
            </a>
          </li>
          <li>
            <a href="/case-studies/aegis-communications.html">
              <span class="icon arrow-right"></span>
            </a>
          </li>
          <li>
            <a href="/case-studies">
              <span class="icon grid"></span>
            </a>
          </li>
        </ul>
      </div>

      <h3>Groupon</h3>
      <h4>Consulting</h4>
      <%= link_to "groupon.com/", "http://www.groupon.com/", :target => "_blank", :class => "website" %>
    </div>
  </div>

  <div class="column two-thirds">
    <%= image_tag "placeholder-small.jpg", "data-original" => "/images/groupon-logo.jpg", :class => "lazy" %>
    <noscript><%= image_tag "groupon-logo.jpg" %></noscript>

    <article>
      <h3>Groupon offers discounts on local services to an audience of millions.</h3>

      <p>After much publicity, their workload outpaced what their internal development team could handle alone.</p>

      <p>Groupon needed help and, working together with their development team, we’ve resolved a number of the toughest programming challenges they’ve faced to date.</p>

      <p>Using Ruby on Rails, we scaled their email systems, streamlined their customer support services and addressed a number of performance issues.</p>

      <p>As Groupon continues to grow, we are working with them to prove that Ruby on Rails can run a massive web application.</p>
    </article>
  </div>
</div>
