---
title: Case Studies | LawVault
---
<div class="container sidebar-container">
  <div class="column sidebar-third flow-opposite">
    <div class="sidebar">
      <div class="work-navigation">
        <ul>
          <li>
            <a href="/case-studies/law-vault.html">
              <span class="icon arrow-left"></span>
            </a>
          </li>
          <li>
            <a href="/case-studies/ncsa.html">
              <span class="icon arrow-right"></span>
            </a>
          </li>
          <li>
            <a href="/case-studies">
              <span class="icon grid"></span>
            </a>
          </li>
        </ul>
      </div>

      <h3>LawVault</h3>
      <h4>Studio</h4>
      <%= link_to "lawvault.com", "https://www.lawvault.com/", :target => "_blank", :class => "website" %>
    </div>
  </div>

  <div class="column two-thirds">
    <%= image_tag "placeholder-small.jpg", "data-original" => "/images/law-vault-logo-gray.jpg", :class => "lazy" %>
    <noscript><%= image_tag "law-vault-logo-gray.jpg" %></noscript>

    <article>
      <h2>8th Light Brings LawVault to Life</h2>
      <h3>Background</h3>
      <p>
      For years, Jonathan Roth, a New Jersey-based litigation attorney, had observed a recurring problem in his profession: litigation
      cases would create an enormous volume of paperwork that would be moved in and out of files and shared with other firms. Invariably,
      documents would frequently turn up missing because someone had taken the only copy, or worse, documents would be misplaced or lost 
      altogether. Often lawyers like Roth would spend hours a day searching for paperwork or scheduling case events. Hours that were not
      billable.
      </p>

      <p>“Time is literally money for lawyers,” Roth says. “The problem crystallized for me after one particular case. On the eve of a huge
      trial, an opposing attorney asked us for copies of documents that we had already handed over. Our staff wasted an entire day tracking
      down all of the documents.”</p>

      <p>So Roth and his two partners came up with a solution: a secure document portal that lawyers could use to electronically store,
      retrieve and share case-specific legal documents. Roth and his partners had no experience building software though, and, given the
      sensitivity of the materials involved, they needed developers with the right expertise.</p>

      <h3>Solution</h3>
      <p>Through a common connection, Roth and his partners were introduced to 8th Light, a software development company formed based on
      the premise of software craftsmanship. In researching the organization, Roth learned that 8th Light had a reputation for masterful
      coding and, not just building web applications, but maintaining them. He was also impressed by the fact that they had never failed
      to bring a product to market.</p>

      <blockquote>
        <p>“I could tell they knew what they were doing.”</p>
        <cite>— Jonathan Roth, LawVault CEO</cite>
      </blockquote>

      <p>Roth visited 8th Light’s Chicago office in late 2011 and was immediately drawn to their approach. “They were very customer focused,”
      he says. “We met with other companies but only 8th Light really heard our idea and was clear about how they could bring it to light.”</p>

      <p>With a formal agreement in place, 8th Light and Roth set up weekly conference calls to start defining LawVault’s business objectives
      and solidifying a schedule for how to proceed.</p>

      <p>8th Light utilizes a methodology called Agile to manage software development projects. Agile principles guide developers to creating
      high-quality software with minimal defects (i.e., “bugs”) that responds gracefully to change. Consequently, if a client needs to extend
      or modify software in the future, it is neither a headache nor cost prohibitive. “If we had worked with a company that gave us buggy code,
      it would have been a disaster,” Roth says. “We simply did not have the time or budget for that. The Agile approach that 8th Light used was
      very effective.”</p>

      <p>8th Light encouraged open collaboration and solicited regular feedback from Roth and his partners once the project was underway.
      During each weekly call, scheduled at night to accommodate Roth’s work schedule, Roth would describe a story of how someone could use
      LawVault. The 8th Light team would then create tests and establish business rules for how the application should function based on Roth’s
      user stories. Code would be written and tested until benchmarks were met, giving stakeholders confidence that the software was meeting client
      expectations and 8th Light’s quality standards.</p>

      <p>LawVault was built in one-week release cycles (i.e., iterations). Using this approach allowed 8th Light to provide continuous value and
      adapt to Roth’s changing requirements. “I can’t say enough about the people who worked on our site,” Roth says.</p>

      <p>“I would describe a story to them and the next week they would have it done exactly as I saw it in my head.”</p>

      <p>Roth says he felt there was always a level of transparency and he could see the progress unfolding with every iteration. “Each week I
      would see a body of work from what we talked about at the beginning of the week,” he says, “and I would be given an estimate for how much
      new features would cost.”</p>

      <p>8th Light developers worked in “pairs” during the LawVault development cycle. Pairing is an Agile principle that allows developers to
      work quickly and efficiently, providing better quality assurance and diversity of thought, all at minimal additional costs to the client.</p>

      <p>Roth was impressed by the development team, all of whom he said were highly motivated professionals who “routinely exceeded” his expectations.
      “I would describe a story that might occur less than one percent of the time, but they would come back with a host of different usage scenarios.
      They wanted to be sure they accounted for every possible challenge.”</p>

      <blockquote>
        <p>“They are absolutely craftsmen.”</p>
        <cite>— Jonathan Roth, LawVault CEO</cite>
      </blockquote>

      <h3>Results</h3>

      <p>Several months after the LawVault project commenced, Roth had a product that was on time, within budget and, best of all, exactly what he had
      envisioned. Today, LawVault offers users a controlled repository that allows documents to be viewed and shared, but restricts edits and deletions.
      Users also have the ability to track a document’s history and schedule meetings.</p>

      <p>Roth says hiring 8th Light for the project was a great decision, and he plans to expand the partnership as he builds additional features into the
      application. “There is real value in the fact that they do not need much handholding from us,” Roth says. “That is a big reason we have been able to
      get to this point.” Another big selling point for Roth was knowing that the intellectual property for the application was safe.</p>

      <blockquote>
        <p>“We needed someone who we could trust.”</p>
        <cite>— Jonathan Roth, LawVault CEO</cite>
      </blockquote>
    </article>
  </div>
</div>
