---
title: Case Studies | NCSA
---
<div class="container sidebar-container">
  <div class="column sidebar-third flow-opposite">
    <div class="sidebar">
      <div class="work-navigation">
        <ul>
          <li>
            <a href="/case-studies/law-vault.html">
              <span class="icon arrow-left"></span>
            </a>
          </li>
          <li>
            <a href="/case-studies/groupon.html">
              <span class="icon arrow-right"></span>
            </a>
          </li>
          <li>
            <a href="/case-studies">
              <span class="icon grid"></span>
            </a>
          </li>
        </ul>
      </div>

      <h3>NCSA</h3>
      <h4>Consulting</h4>
      <%= link_to "ncsasports.org", "http://www.ncsasports.org/", :target => "_blank", :class => "website" %>
    </div>
  </div>

  <div class="column two-thirds">
    <%= image_tag "placeholder-small.jpg", "data-original" => "/images/ncsa-logo.jpg", :class => "lazy" %>
    <noscript><%= image_tag "ncsa-logo.jpg" %></noscript>

    <div class="article">
      <h3>Problem</h3>
      <p>The National Collegiate Scouting Association (NCSA) is the nation’s leading college scouting and recruiting network. Student
      athletes depend on NCSA’s website to match them to college coaches, programs, and scholarships; coaches use NCSA’s website
      to evaluate student statistics, athletic highlights, and videos. NCSA’s technology infrastructure is critical to its success,
      yet by early 2011, the company knew its legacy product was in need of a major overhaul.</p>

      <p>NCSA’s Java-based system was, in a word, untrustworthy. When NCSA wanted to change or add a feature to one part of the site,
      another area of the site would break and require time-intensive and costly repairs. Compounding the problem, NCSA had recently
      added several new hires to its technology division, and, as additional employees interacted with the existing infrastructure,
      more problems arose.</p>

      <blockquote>
        <p>“I didn’t want to recreate the same problems we already had. I wanted to do it right.”</p>
        <cite>— Chris Hein, Vice President of Information Technology</cite>
      </blockquote>

      <p>Chris Hein, NCSA’s Vice President of Information Technology, wanted to undertake a massive rewrite of the crippled system and
      put new practices into place as his team grew. He hired a software development company, however, midway through the project, the
      company was acquired and had to roll off. Hein interviewed other software development companies near NCSA’s Chicago headquarters
      seeking a new team of developers to continue to guide NCSA towards a higher-quality site.</p>

      <p>Hein knew of the reputation of one Chicago-area firm, 8th Light, known in the technology community for building exceptionally
      high-quality software. Hein felt an immediate connection at the interview – 8th Light had a culture of excellence that included
      an apprenticeship model for training developers, a focus on continued learning, and a total commitment to building technology
      that was durable, attractive and flexible to changing business needs.</p>

      <p>After interviewing four other agencies, Hein hired 8th Light in late 2011. “I could see right away their focus was around the
      idea of software craftsmanship,” he says. “A lot of my decision to hire them came down to the fact that 8th Light seemed to always
      be figuring out how to do something in a new way, and to never be satisfied with how it was done yesterday,” Hein says.</p>

      <blockquote>
        <p>“Culturally they are really good people to work with. I always felt they were part of the team and really cared about our
        success.”</p>
        <cite>— Chris Hein, Vice President of Information Technology</cite>
      </blockquote>

      <p>In an approach that differs from most other software development organizations, 8th Light developers worked in-house with NCSA
      to “pair program,” a method that assigns two employees – in this case, one from each company – to share a single task. Working
      side by side with 8th Light’s experts gave NCSA’s team a “window into how to better run a development team” and saved them from
      “knowledge silos” – when only one person understands a particular part of the site, Hein explains.</p>

      <p>With pair programming, if one person is out of the office, projects don’t slow down because knowledge is spread throughout the
      team. Hein also says pair programming makes the project more efficient because “more time can be spent on doing.” He explains:
      “When you’re working with someone next to you all the time, the productivity level is a lot higher. The only focus is on 
      development.”</p>

      <p>For the next 11 months, 8th Light augmented NCSA’s team and helped build a fresh site that has a stronger focus on quality. One
      way this was achieved was through a practice called “Test Driven Design” (TDD), a systematic process that requires writing unit
      tests before writing code, allowing the tests to drive the design of the application. 8th Light specializes in TDD and guided NCSA
      through its best practices, ensuring NCSA was left with a flexible website that could scale easily and will remain solid no matter
      how large or complicated the business becomes.</p>

      <h3>Results</h3>
      <p>NCSA launched a new and improved site in March 2012. Hein says the change has been dramatic. He and his team are now confident
      they can make changes to one part of the site without consequences somewhere else.</p>

      <blockquote>
        <p>“I’ve found them to have, not only a deep understanding of the subject matter, but also a deep curiosity of how to do
        something better.”</p>
        <cite>— Chris Hein, Vice President of Information Technology</cite>
      </blockquote>

      <p>Hein feels his team is well prepared to maintain the site and easily add new features, such as simpler ways for student athletes
      to input statistics for multiple sports, and that clear practices are in place for future employees. “We have such a higher degree
      of confidence in our product since working with 8th Light,” he says. Hein also goes on to say, “We’ve had great feedback from all
      around the company, from the president all the way down.”</p>

      <p>On a personal level, Hein says 8th Light’s employees were “easy to work with and highly skilled.” He explains that he appreciates
      8th Light’s practice of leading by example - “They don’t preach practices to a group but help clients learn for the long term.”</p>

      <p>8th Light’s philosophy about software craftsmanship means that coders are extremely well trained: a large majority of 8th Light’s
      staff has been through a six to twelve month apprenticeship program before joining the company full time, and Hein says 8th Light’s
      attention to detail is clear. “I always have a feeling they have a desire to leave the system in a great place; not just rush it and
      leave it in a ‘done’ place.”.</p>

      <blockquote>
        <p>“I went from feeling like we had a 50/50 chance of something breaking to nearly a 100% level of confidence of things going right.”</p>
        <cite>— Chris Hein, Vice President of Information Technology</cite>
      </blockquote>

      <p>Hein says he will work with 8th Light for future projects. “I feel I can always use them as a resource to get things right."</p>

    <%= link_to "Back to Top", "#top", :class => "scroll button" %>
    </div>
  </div>
</div>
