<div class="work-navigation">
  <ul>
    <li>
      <a href="/scna.html">
        <span class="icon arrow-left"></span>
      </a>
    </li>
    <li>
      <a href="/scna.html">
        <span class="icon arrow-right"></span>
      </a>
    </li>
    <li>
      <a href="/">
        <span class="icon grid"></span>
      </a>
    </li>
  </ul>
</div>

